.fixed-side-bar{
    background: rgba(239, 239, 239, 0.53);
    height: 100vh;
    width: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;



}


.fixed-bar-image{
    display: flex ;
    justify-content: flex-start;


}

.logo-left-menu{
    height: 100%;


    filter: drop-shadow(0 0 6px rgba(110, 110, 110, 0.7));

    justify-content: space-between;

}




.middle-bar{

    display: flex;
    flex-direction: column;

}

.btn  {
    margin: 10px;
}

.bottom-bar {
    display: flex;
    flex-direction: column;
    height: 8%;


}

.manager-page-header{

    margin-right: 20px;
    margin-top: 10px;
    height: 100px;
    color: #6e6e6e;

}

.row{
    display: flex;
    flex-direction: row;
    flex-flow: row;
}


