
.loginPage {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    height: 65vh;
    width: 40vw;





}

.container-createpasswordpage{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    border: 10px solid lavenderblush;
    border-radius: 50px;
    background-color: #00C4B3;
    background-image: url("/img/logo4.png");
    background-size: cover;
    background-repeat: no-repeat;

}



label.Label{

    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    font-size: 0.8rem;
    margin-bottom: 3px;






}

input.E-mail.Input{
    border-radius: 10px;
    border: none;
    padding: 5px;

}

input.Password.Input{

    border-radius: 10px;
    border: none;
    padding: 5px;
}




.input-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Roboto Thin";



}


.logol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.E-mail-group{

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;


}

.Password-group{

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;


}


.Label{
    display: flex;
    flex-direction: column;
    padding: 3%;


}

.button-loginm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 25%;

}

.login-btnm {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Roboto Thin";
    cursor: pointer;
    transition: all 0.3s ease;
    width: 180px;
    height: 50px;
}

.to-login{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#al{

    color: white  ;
    font-weight: 300;
    font-family: "Roboto Thin";
    font-size: 20px;
    margin-top: 20%;


}

