
.loginPage-loginpage {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;








}

.loginPage-loginpage::before {

    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/img/logo4.png");
    background-size: cover;
    background-position: center;
    opacity: 0.3; /* Burada opaklığı ayarlarsın */
    z-index: -1;

}

.container-loginpage-loginpage{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;


    height: 100vh;
    width: 100vh;

}

.inputarea-loginpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.loginform-loginpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.logocontainer-loginpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;



}


.logoimg-loginpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/img/logo.png");
    background-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
}

label.Label{

    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin-bottom: 3px;

}

.Emailgroup-loginpage{

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;


}

.Passwordgroup-loginpage{

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;


}

.Label{
    display: flex;
    flex-direction: column;
    padding: 3%;}

input.E-mail.Input{
    border-radius: 10px;
    border: none;
    padding: 5px;

}

input.Password.Input{

    border-radius: 10px;
    border: none;
    padding: 5px;
}

.button-login-loginpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25%;

}

.login-btn-loginpage {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 180px;
    height: 50px;
}


